* { min-width: 0; min-height: 0; }

.add-property {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

fieldset {
    display: flex;
    width: 700px;
    height: 250px;
}

.add-property-heading {
    display: flex;
    justify-content: center;
}


.forms {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: small;
    margin-left: 25px;
}

select {
    min-width: 200px;
    min-height: 37px;
    margin-left: 10px;
}

input {
    min-width: 190px;
    min-height: 30px;
    margin-left: 10px;
}

.city {
padding-left: 95px;
}

.bathroom {
padding-left: 75px;
}

.bedroom {
    padding-left: 75px;
    margin-left: 5px;
}

.add-property-button {
    height: 37px;
    width: 190px;
    margin-left: 200px;
}
